.error-container{
    width: 100%;
    height: 107%;
    opacity: 0.9;
    background-color: #6d6d6d;
    margin-top: -50px;
    display: flex;
    align-items: center;
}
.block-error{
    height: 340px;
    max-width: 500px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: yellow;
    font-size:20px;
}