
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    height: 170px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cust-footer {
    position: fixed;
    bottom: 0;
    color: white;
    font-family: "Montserrat";
    padding: 10px 0 10px 10px;
}
.cust-balance {
    position: relative;
    top: 0;
    left: 0;
    color: white;
    font-weight: 600;
    padding-top: 4rem;
    padding-left: 4rem;
    font-family: "Montserrat";
    color: yellow;
}


.logo img {
    max-width: 100%;
    max-height: 170px;
    margin: 25px 0 25px 0;
}


.container {
    height: 100vh;
    background-image: url("../css/img/backgound_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: gray;
    list-style: none;
    padding-top: 4rem;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
.burger-m{
    margin-right: 240px;
}

#menuToggle
{
    display: block;
    position: relative;

    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a
{
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: tomato;
}


#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;
    background: yellow;
    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: yellow;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    /* transform-origin: 0% ;*/
    transform: translate(0,-100%);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
    color: white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}
@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;

        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

.main {
    display: flex;
}


a {
    text-decoration: none;
    transition: color 0.3s ease;
}


.filter {
    padding: 15px;
    height: 600px;
    width: 300px;
    opacity: 0.96;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 21px 8px #000000;
}

.rooms {
    width: 700px;
    height: 600px;
}

.valuta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.firs_rov_valuta {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second_rov_valuta {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.valuta {
    max-width: 100%;
}

.valuta button {
    background: none;
    padding: 2px 10px 2px 10px;
}

.valuta button p {
    color: rgb(228, 228, 139);
    font-size: 30px;
}

.valuta button:hover {
    border: 2px solid rgb(236, 236, 13);
    color: red;
    box-shadow: 0 0 10px rgb(236, 236, 13);
}

.rooms {
    padding-top: 20px;
    margin-left: 8%;
    margin-right: 30%;
}

.content_room {
    margin-top: 20px;
    max-width: 700px;
    height: 120px;
    box-shadow: 0px 0px 21px 8px #000000;
    background-color: rgb(41, 41, 41);
    opacity: 0.96;
    display: flex;
    align-content: center;
    color: white;
}

.info_room {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.info_time {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.info_valut {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.stavka {
    text-decoration: none;
    display: inline-block;
    width: 117px;
    height: 43px;
    line-height: 39px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: lightgrey;
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    transition: .3s;
    border: none;
}

.stavka:hover {
    background: rgba(251, 255, 0, 0.932);
    box-shadow: 0 4px 20px rgba(251, 255, 0, 0.932);
    color: black;
    transform: translateY(-2px);
}

.pagination-class {
    position: absolute;
    margin-top: 3%;
    margin-left: 45%;
    opacity: 0.96;
    background-color: rgb(32, 32, 32);
}

.ul.pagination {
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    float: left;
    padding: 8px 16px;
    border: 1px yellow;
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.card {
    height: 290px;
    max-width: 250px;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 0px 21px 8px #000000;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    font-family: "Montserrat";
    color: #fdfdfd;
}

.card .card-header {
    position: relative;
    height: 68px;
}


.card .card-header .profile-img {
    width: 130px;
    height: 130px;
    border-radius: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid yellow;
    box-shadow: 0 0 30px yellow;
}

.card .card-body {
    padding: 10px 40px;
}

.card .card-body .mail {
    font-size: 18px;
    color: #c2bdbd;
}

.card .card-body .balance {
    margin-top: 30px;
    font-size: 16px;
}


.card .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card .social-links .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #e0f10e;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 23px 20px 0;
}

.card .social-links .social-icon:last-child {
    margin-right: 0;
}

.card .social-links .social-icon:hover {
    background-color: yellow;
    height: 50px;
    width: 50px;
}


.card .card-footer {
    background-color: yellow;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 0 20px 0;
}

.card .card-footer .company-name {
    font-size: 20px;
    text-decoration: none;
}

.card .card-footer .company-name span {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 575px) {
    .card {
        width: 96%;
    }

    .card .card-body {
        padding: 10px 20px;
    }
}
