@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/errorPageStyle.css" />

<div class = "error-container">

    <div class="block-error">
@if (Model.ShowRequestId)
{
    <h3 style="text-align: center">OOooopsss 500</h3>
    <p>
        <strong>Error message:</strong> <code>@Model.RequestId</code>
    </p>
}
</div>

</div>