@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://edu.pm.tech/unit/view/id:6811" target="_blank">PM Academy 3.0 Project 2</a>.</p>
</div>
