@model X.PagedList.IPagedList<CRBClient.Models.RoomViewModel>
@using X.PagedList.Mvc.Core

@{
    Layout = "~/Views/Shared/_BlackLayout.cshtml";
}

    <div class="main">
        <div class="filter">
            <div class="valuta">
                <div class="firs_rov_valuta">
                    <button class="USD">
                        <p>&dollar;</p></button>
                    <button class="EUR">
                        <p>&#8364;</p></button>
                    <button class="PLN">
                        <p>zł</p></button>
                </div>
                <div class="second_rov_valuta">
                    <button class="UAH">
                        <p>&#x20b4;</p></button>
                    <button class="CHF">
                        <p>&#163;</p></button>
                    <button class="frank">
                        <p>&#8355;</p></button>
                </div>
            </div>
        </div>
        <div class="rooms">
            @foreach (var room in Model)
            {
                <div class="content_room">
                    <div class="info_room">
                        <p>Dollar</p>
                    </div>
                    <div class="info_time">
                        <p>22.04.2022</p></div>
                    <div class="info_valut">
                        <button class="stavka">
                            <p>stavka</p></button></div>
                </div>
            }
        </div>
    </div>
    <div class="pagination-class">
        <p>@Html.PagedListPager(Model, page => Url.Action("Main", new {page}))</p>
        </div>

